{%extends 'store/base.html'%}
{%load static%}
{% load custom_filters %}



{%block main_block%}
  
 

<div class="mx-auto flex max-w-3xl flex-col space-y-4 p-6 px-2 sm:p-10 sm:px-2">
    {%if cartitems%}
    <h1 class="text-3xl font-bold">Your Cart</h1>
    <h2>{{items}}items</h2>
    <p class="mt-3 text-sm font-medium text-gray-700">
  
    </p>
    <ul class="flex flex-col divide-y divide-gray-200">
  
        {%for ci in cartitems%}
        <li class="flex flex-col py-6 sm:flex-row sm:justify-between">
            <div class="flex w-full space-x-2 sm:space-x-4">
            
  
            <img src="{{ ci.product_object.image.url}}" alt="" class="w-1/2 rounded object-cover">
              <div class="flex w-full flex-col justify-between pb-4">
                <div class="flex w-full justify-between space-x-2 pb-2">
                  <div class="space-y-1">
                    <h3 class="text-lg font-semibold leading-snug sm:pr-8">
                      {{ci.product_object.name}}
                    </h3>
  
                  
                    <p class="text-sm"></p>
                  </div>
                  <form action="{%url 'cart-update' ci.id%}" method="post">
                    {%csrf_token%}

                    <div>
                      Quantity:
                      <button type="submit" name="update" value="decrease" min="1" class="btn btn-primary">-</button>
                     
  
                      <span>{{ci.quantity}}</span>
  
                      
                      <button type="submit" name="update" value="increase" max="10" class="btn btn-primary">+</button>
                    </div>

                   
                   
                  </form>
                  <div class="text-right">
                    <p class="text-lg font-semibold">      
                      {{ci.updated_price}}    
                 
                
            </p>
           
                  </div>
                </div>
                <div class="flex divide-x text-sm">
                  <p>  {%for t in ci.product_object.tag_objects.all%}
  
                    <span class="border-r-2 border-gray-500 px-2 me-1 text-sm text-black-500 my-1">{{t}}</span>
      
                    {%endfor%}</p>
                  <a href="{%url 'cartitem-delete' ci.id%}"
                    type="button"
                    class="flex items-center space-x-2 px-2 py-1 pl-0"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-trash"
                    >
                      <path d="M3 6h18"></path>
                      <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                      <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                    </svg>
                    <span>Remove</span>
                  </a>
                  <button type="button" class="flex items-center space-x-2 px-2 py-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-heart"
                    >
                      <path d="M20.42 4.58a5.4 5.4 0 0 0-7.65 0l-.77.78-.77-.78a5.4 5.4 0 0 0-7.65 0C1.46 6.7 1.33 10.28 4 13l8 8 8-8c2.67-2.72 2.54-6.3.42-8.42z"></path>
                    </svg>
                    <span>Add to favorites</span>
                  </button>
                </div>
              </div>
            </div>
          </li>
          {%endfor%}
     
    </ul>
  
    <div class="space-y-1 text-right">
        <p>
          Total amount:<span class="font-semibold"> ₹{{total}}</span>
          
        </p>
      </div>
      <div class="flex justify-end space-x-4">
        <a href="{%url 'index'%}"
          type="button"
          class="rounded-md border border-black px-3 py-2 text-sm font-semibold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >
          Back to shop
        </a>
        <a href="{%url 'checkout'%}"
          type="button"
          class="rounded-md border border-black px-3 py-2 text-sm font-semibold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >
          Delivery Address
        </a>
      </div>

      {%else%}
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-black sm:text-5xl text-center">



        <div class="container-fluid  mt-100" style=" 
    font-family: 'Calibri', sans-serif !important; ;">
          <div class="row">
          
           <div class="col-md-12">
           
               <div class="card" style="  margin-bottom: 30px;
               border: 0;
               -webkit-transition: all .3s ease;
               transition: all .3s ease;
               letter-spacing: .5px;
               border-radius: 8px;
               -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
               box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);">
        
             <div class="card-body cart" style="  padding: 30px;
    background-color: transparent;">
                 <div class="col-sm-12 empty-cart-cls text-center">
                  <center> <img src="{%static 'images/empty-cart.png'%}" width="130" height="130" class="img-fluid mb-4 mr-3 items-center"></center>
                   <h2><strong>Your Cart is Empty!</strong></h2>
                   <p class="text-sm">Add items to it now.</p>
                   <a href="{%url 'index'%}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                   
                 
                 </div>
             </div>
         </div>
             
           
           </div>
          
          </div>
         
         </div>




      
      </h1>
      {%endif%}
  

   

  
    
  

{%endblock%}


