{%extends 'store/base.html'%}

{%block main_block%}

{{product}}






<section class="overflow-hidden">
    <div class="mx-auto max-w-5xl px-5 py-24">
      

      <div class="mx-auto flex flex-wrap items-center lg:w-4/5 bg-white text-black p-3 shadow p-3 mb-5 bg-white rounded">
       
        <img src="{{ product.image.url}}" alt="" class="w-1/2 rounded object-cover">
        

       
        <div class="mt-6 w-full lg:mt-0 lg:w-1/2 lg:pl-10">
          <h2 class="text-sm font-semibold tracking-widest text-gray-500">
          
          </h2>
          <h1 class="my-4 text-3xl font-semibold text-black">{{product.brand}} </h1>
          
          {%for t in product.tag_objects.all%}

          <span class="mb-2 mr-1 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
            {{t}}
          </span>
        


          {%endfor%}
          <div class="my-4 flex items-center">
            <span class="flex items-center space-x-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-yellow-500"
              >
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-yellow-500"
              >
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-yellow-500"
              >
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-yellow-500"
              >
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-yellow-500"
              >
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
              </svg>
              <span class="ml-3 inline-block text-xs font-semibold">
                4 Reviews
              </span>
            </span>
          </div>
          <p class="leading-relaxed">
            {{product.description}}
          </p>
        
    
          <div>
            
             
        
            
            <form class="d-flex justify-content-left" method="post" action="">
              {%csrf_token%}
              <span class="title-font text-xl font-bold text-gray-900 mr-2 mt-5">
                {{product.price}}

             
              </span>

         

               
            
               
          

              
          
               <div class="right ml-5 mt-5" style="margin-left: 50px;">
             
             
               
                <span class="" style="position: absolute;">
                  {%if product.stock > 0 %}
                  <a href="{%url 'add-cart' product.id%}"  type="button" class="btn btn-success">Add to Cart</a>
                
                  <h2 class="text-success float-end ml-5 text-2x1 " style="font-size: medium;">In stock</h2>
                
                {%else%}
                <a href="{%url 'index' %}"  type="button" class="btn btn-secondary">Go to Home</a>
                  <h2 class="text-danger">Out of stock</h2>
                
                {%endif%}
                
                   
                 </span>
        
            
               </div>
         
       
        </form>
      </div>
    </div>
  </section>
         <!--Quantity-->

      
      








{%endblock%}